nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: red;

}
.Login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* border: 1px solid blue; */
}
.Login-form{
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    width: 50%;
    /* border: 2px solid red; */
}
.Login-form input{
    margin-top: 20px;
    
   
}