.container{
    border: 2px solid darkgreen;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction:row-reverse;
    height: 250px;
    flex-wrap: wrap;
}
.box{
    border: 2px dashed tomato;
    width: 50px;
    height: 50px;
}